<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.template_d.app">

    <!-- allow app to connect to the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.template_d.app.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.template_d.app.features.Pesawat" />
        <activity android:name="com.template_d.app.features.Kereta" />
        <activity android:name="com.template_d.app.features.Hotel" />
        <activity android:name="com.template_d.app.features.Umroh" />
        <activity android:name="com.template_d.app.features.Bus" />
        <activity android:name="com.template_d.app.features.Travel" />
        <activity android:name="com.template_d.app.features.PPOB" />
        <activity android:name="com.template_d.app.features.Pulsa" />
        <activity android:name="com.template_d.app.features.Tur" />
        <activity android:name="com.template_d.app.features.Agen" />
        <activity android:name="com.template_d.app.features.Kontak" />
    </application>

</manifest>